  .img-container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .img-grid {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .img-item {
    width: calc(25% - 100px);
    margin-bottom: 0px; 
  }
  
  .link-image,
  .movie-image {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(215, 11, 11, 0.501);
    border-radius: 30px 0 30px 0;
  }
  
  .img-item::after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* Overlay */
  .img-item {
    position: relative;
    display: inline-block;
    height: 10rem;
  }
  
  .img-overlay {
    position: absolute;
    top: 100%; 
    left: 5%;
    width: 74%;
    height: 55%;
    text-align: center;
    background-color: rgba(17, 16, 16, 0.576);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    transition: top 0.5s ease;
    padding: 20px;
    border-radius: 20px 0 20px 0;
  }
  
  .img-item:hover .img-overlay {
    top: 0; 
    cursor: pointer;
  }
  
  .img-item:not(:hover) .img-overlay {
    top: 100%; 
    opacity: 0;
  }
  
  .img-overlay span {
    font-size: 1.5rem;
    font-weight: bold;
  }
    
/* Select */
.category-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
}

.category-label:hover .category-tooltip {
  visibility: visible;
  opacity: 1;
}

.category-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-label {
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px 20px;
  padding: 8px 12px;
  background-color: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(214, 21, 21, 0.818);
  position: relative;
  display: inline-block;
}

.category-label:hover {
  background-color: #444;
}

.category-select input[type="radio"] {
  display: none;
}

.category-select input[type="radio"]:checked + .category-label {
  background-color: #007bff68;
  color: white;
}


/* Search Container */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  width: 80%; /* Adjusted width for smaller screens */
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow for better visual */
}

/* Search Icon */
.search-icon {
  margin-right: 10px;
  color: #888;
}

/* Search Input */
.search-input {
  flex: 1;
  height: 30px;
  padding: 5px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
  color: #333; /* Changed text color for better contrast */
}

/* Search Input Placeholder */
.search-input::placeholder {
  color: #888;
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .search-bar {
    width: 60%;
    height: 15px;
  }
}

@media (max-width: 1280px) {
  .img-item {
    width: calc(50% - 10px); 
    margin-bottom: 5px;
  }
  .category-label {
    font-size: 16px;
    margin: 0 5px 10px;
    max-width: calc(50% - 20px); 
  }
  .img-overlay{
    width: 60%;
    height: 55%;
    top: 100%; 
    left: 12%;
  }
}
@media (max-width: 576px) { 
  .img-item {
    width: 100%;
    margin-bottom: 5px;
  }
  .category-label {
    font-size: 14px;
    padding: 4px 8px;
    max-width: calc(100% - 20px);
  }
}



