:root {
  --primary-color: #338952;
  --secondary-color: orange;
  --font-weight-bold: 800;
  --font-size-medium: 1.2rem;
  --gap-large: 4rem;
  --gap-small: 1rem;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large);
  height: 3vh;
}

.achievement span {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.achievement span:nth-of-type(2) {
  color: var(--secondary-color);
}

@media (max-width: 480px) {
  .experience {
    gap: var(--gap-small);
  }
}
